body{
    background-color: lightcyan;
    text-align: center;
}

#title{
    font-size: 70px;
    color:rgb(8, 36, 73);
    font-weight: bold;
    font-style:initial;
    
    
}

#sundar{
    font-size: 30px;
    color: rgba(201, 10, 90, 0.918);
    font-weight: bold;
}

#insp{
    color: rgb(50, 68, 170);
    font-size: 30px;
    font-weight: 750;
    font-style:unset;
    
}

#bill{
    font-size: 30px;
    color: rgba(201, 10, 90, 0.918);
    font-weight: bold;
}